In [1]:
import pandas as pd
import re

In [2]:
county_data = pd.read_csv("Data/county_data.csv", skiprows = [1])

In [14]:
county_data.columns[100:150]

Index(['Median household income raw value', 'Median household income (Black)',
       'Median household income (Hispanic)', 'Median household income (White)',
       'Children eligible for free or reduced price lunch raw value',
       'Residential segregation - Black/White raw value',
       'Residential segregation - non-white/white raw value',
       'Homicides raw value', 'Firearm fatalities raw value',
       'Homeownership raw value', 'Severe housing cost burden raw value',
       'Population raw value', '% below 18 years of age raw value',
       '% 65 and older raw value', '% Non-Hispanic African American raw value',
       '% American Indian and Alaskan Native raw value', '% Asian raw value',
       '% Native Hawaiian/Other Pacific Islander raw value',
       '% Hispanic raw value', '% Non-Hispanic white raw value',
       '% not proficient in English raw value', '% Females raw value',
       '% Rural raw value', 'Communicable disease raw value',
       'Self-inflicted injury hospitalizations raw value',
       'Cancer incidence raw value',
       'Coronary heart disease hospitalizations raw value',
       'Cerebrovascular disease hospitalizations raw value',
       'Smoking during pregnancy raw value', 'Drug arrests raw value',
       'Opioid hospital visits raw value',
       'Alcohol-related hospitalizations raw value',
       'Motor vehicle crash occupancy rate raw value',
       'On-road motor vehicle crash-related ER visits raw value',
       'Off-road motor vehicle crash-related ER visits raw value',
       'Childhood immunizations raw value', 'Reading proficiency raw value',
       'W-2 enrollment raw value', 'Poverty raw value',
       'Older adults living alone raw value', 'Hate crimes raw value',
       'Child abuse raw value', 'Injury hospitalizations raw value',
       'Fall fatalities 65+ raw value', 'Year structure built raw value',
       'Male population 0-17 raw value', 'Male population 18-44 raw value',
       'Male population 45-64 raw value', 'Male population 65+ raw value',
       'Total male population raw value'],
      dtype='object')

## Removing Columns

In [4]:
def del_col(df, suffixes):
    for suffix in suffixes:
        for col in df.columns:
            if suffix in col:
                del df[col]
    return df

In [5]:
county_data_new = del_col(county_data, ["numerator", "denominator", "CI low", "CI high", "County Ranked", "Release Year"])

## Renaming Columns

In [6]:
column_names = {}
for col_name in county_data_new.columns:
    col_name_clean = re.sub(r"[()\"#/@;:<>{}`+=~|.!?,]", " ", col_name)
    col_name_clean = col_name_clean.replace("raw value","").replace(" ","_").lower()
    col_name_clean = col_name_clean.replace("-","_").replace("__","_").replace("___","_")
    col_name_clean = col_name_clean.rstrip("_")
    column_names[col_name] = col_name_clean
county_data_new = county_data_new.rename(columns=column_names)

In [7]:
county_data_new.columns[0:100]

Index(['state_fips_code', 'county_fips_code', '5_digit_fips_code',
       'state_abbreviation', 'name', 'premature_death',
       'premature_death_black', 'premature_death_hispanic',
       'premature_death_white', 'poor_or_fair_health',
       'poor_physical_health_days', 'poor_mental_health_days',
       'low_birthweight', 'low_birthweight_black', 'low_birthweight_hispanic',
       'low_birthweight_white', 'adult_smoking', 'adult_obesity',
       'food_environment_index', 'physical_inactivity',
       'access_to_exercise_opportunities', 'excessive_drinking',
       'alcohol_impaired_driving_deaths', 'sexually_transmitted_infections',
       'teen_births', 'teen_births_black', 'teen_births_hispanic',
       'teen_births_white', 'uninsured', 'primary_care_physicians',
       'ratio_of_population_to_primary_care_physicians', 'dentists',
       'ratio_of_population_to_dentists', 'mental_health_providers',
       'ratio_of_population_to_mental_health_providers',
       'preventable_hospital_stays', 'preventable_hospital_stays_black',
       'preventable_hospital_stays_hispanic',
       'preventable_hospital_stays_white', 'mammography_screening',
       'mammography_screening_black', 'mammography_screening_hispanic',
       'mammography_screening_white', 'flu_vaccinations',
       'flu_vaccinations_black', 'flu_vaccinations_hispanic',
       'flu_vaccinations_white', 'high_school_graduation', 'some_college',
       'unemployment', 'children_in_poverty', 'children_in_poverty_black',
       'children_in_poverty_hispanic', 'children_in_poverty_white',
       'income_inequality', 'children_in_single_parent_households',
       'social_associations', 'violent_crime', 'injury_deaths',
       'air_pollution__particulate_matter', 'drinking_water_violations',
       'severe_housing_problems',
       'percentage_of_households_with_high_housing_costs',
       'percentage_of_households_with_overcrowding',
       'percentage_of_households_with_lack_of_kitchen_or_plumbing_facilities',
       'driving_alone_to_work', 'driving_alone_to_work_black',
       'driving_alone_to_work_hispanic', 'driving_alone_to_work_white',
       'long_commute__driving_alone', 'life_expectancy',
       'life_expectancy_black', 'life_expectancy_hispanic',
       'life_expectancy_white', 'premature_age_adjusted_mortality',
       'premature_age_adjusted_mortality_black',
       'premature_age_adjusted_mortality_hispanic',
       'premature_age_adjusted_mortality_white', 'child_mortality',
       'child_mortality_black', 'child_mortality_hispanic',
       'child_mortality_white', 'infant_mortality', 'infant_mortality_black',
       'infant_mortality_hispanic', 'infant_mortality_white',
       'frequent_physical_distress', 'frequent_mental_distress',
       'diabetes_prevalence', 'hiv_prevalence', 'food_insecurity',
       'limited_access_to_healthy_foods', 'drug_overdose_deaths',
       'motor_vehicle_crash_deaths', 'insufficient_sleep', 'uninsured_adults',
       'uninsured_children', 'other_primary_care_providers',
       'ratio_of_population_to_primary_care_providers_other_than_physicians',
       'disconnected_youth'],
      dtype='object')

In [8]:
county_data_new.columns[100:157]

Index(['median_household_income', 'median_household_income_black',
       'median_household_income_hispanic', 'median_household_income_white',
       'children_eligible_for_free_or_reduced_price_lunch',
       'residential_segregation__black_white',
       'residential_segregation__non_white_white', 'homicides',
       'firearm_fatalities', 'homeownership', 'severe_housing_cost_burden',
       'population', '%_below_18_years_of_age', '%_65_and_older',
       '%_non_hispanic_african_american',
       '%_american_indian_and_alaskan_native', '%_asian',
       '%_native_hawaiian_other_pacific_islander', '%_hispanic',
       '%_non_hispanic_white', '%_not_proficient_in_english', '%_females',
       '%_rural', 'communicable_disease',
       'self_inflicted_injury_hospitalizations', 'cancer_incidence',
       'coronary_heart_disease_hospitalizations',
       'cerebrovascular_disease_hospitalizations', 'smoking_during_pregnancy',
       'drug_arrests', 'opioid_hospital_visits',
       'alcohol_related_hospitalizations',
       'motor_vehicle_crash_occupancy_rate',
       'on_road_motor_vehicle_crash_related_er_visits',
       'off_road_motor_vehicle_crash_related_er_visits',
       'childhood_immunizations', 'reading_proficiency', 'w_2_enrollment',
       'poverty', 'older_adults_living_alone', 'hate_crimes', 'child_abuse',
       'injury_hospitalizations', 'fall_fatalities_65', 'year_structure_built',
       'male_population_0_17', 'male_population_18_44',
       'male_population_45_64', 'male_population_65', 'total_male_population',
       'female_population_0_17', 'female_population_18_44',
       'female_population_45_64', 'female_population_65',
       'total_female_population', 'population_growth'],
      dtype='object')

In [9]:
county_data_new.to_csv("Data/county_data_clean.csv")

In [10]:
county_data_new

,state_fips_code,county_fips_code,5_digit_fips_code,state_abbreviation,name,premature_death,premature_death_black,premature_death_hispanic,premature_death_white,poor_or_fair_health,...,male_population_18_44,male_population_45_64,male_population_65,total_male_population,female_population_0_17,female_population_18_44,female_population_45_64,female_population_65,total_female_population,population_growth
0,0,0,0,US,United States,6900.630354,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,1000,AL,Alabama,9917.232898,NaN,NaN,NaN,0.214024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1,1001,AL,Autauga County,8824.057123,10471.252986,NaN,8706.658832,0.184111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,1003,AL,Baldwin County,7224.632160,10042.472874,3086.605695,7277.780727,0.180605,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,1005,AL,Barbour County,9586.165037,11332.562909,NaN,7309.636719,0.257734,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,56,37,56037,WY,Sweetwater County,7497.439952,NaN,6413.215910,7834.050381,0.153772,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3190,56,39,56039,WY,Teton County,3786.128226,NaN,NaN,NaN,0.121817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,56,41,56041,WY,Uinta County,7790.302043,NaN,NaN,NaN,0.158858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,56,43,56043,WY,Washakie County,5504.650970,NaN,NaN,NaN,0.161261,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,56,45,56045,WY,Weston County,4991.168273,NaN,NaN,NaN,0.132375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN